 /* *{
    margin:0;
    padding:0;
    

}

.signup{
    height:100vh;
     width:100%;
     background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("./signup1.png"); 
   
    background-position: center;
    background-size: cover;
    position:absolute;
}
.signup__box{
    width:380px;
    height:480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;


}
.signup__box__button{
  margin: 35px auto;
 
  width:220px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
  
    border-radius:20px;
    position: relative;
    gap: 5px;
    
}  */
/* .signup{
    height:100vh;
     width:100%;
     background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("./signup1.png"); 
   
    background-position: center;
    background-size: cover;
    position:absolute;
} */