<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/suggestion.css">
    <title>Fertilzer Suggestion</title>
</head>

<body>
    <section class="container">
        <h1> Suggestions </h1>
        <h3> The recommended Fertilizer is UREA</h3>
        <h4> Please consider the following suggestion..:</h4>
        <p> Top categories of urea are:
            <br>
            1.Gromor 28:28:0
            <br>
            2.Gromor 50:12:12
            <br>
            <br>
            The excess amount of Urea can cause :
            <br>
            <br>
            1.Crop Damage
            <br>
          
            2.Soil fertility (quality) decreases
            <br>
            <br>
            The alternatives which can be used instead of urea are :
            <br>
            Manure: Animal manure, like cow dung or poultry litter, is a valuable source of organic matter and nutrients for plants.
            <br>
            <br>
            Biofertilizers: These are microorganisms like mycorrhizal fungi and rhizobium bacteria that form mutualistic relationships with plant roots, aiding in nutrient uptake and nitrogen fixation.
        </p>
    </section>
</body>